/* TODO: Make it awesome */
.center {
  text-align: center;
}

body{
  background : #57FF94;
}

h1 {
  color:#138A36;
}
main {
margin: auto;
border: thin 5px 100% black;
width: 100%;
}

ul-nav {
  display: inline-block;
  width: 40%;
  text-align: center;
  margin-top: 9%;
  list-style-type: square;
}
.card  h1 {
  text-align: center;
}


nav li {
  display: inline-block;
  margin-top: 2%;
 
}

.left{
  float: left;
  margin-top: 2%;
  max-width: 40%;
  margin-left: 5%;
}

car-ol {
  margin-top: 2%;
}
.cart-nav {
  margin-bottom: 1%;
}
.right {
  float: right;
  max-width: 40%;
  margin-top: 3%;
  margin-right: 5%;
  padding: auto;
}
footer {
  position: absolute;
  bottom: 0;
  left: 43%;
}